<form action="https://www.example.com/payment/success/" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_bW4FJpuKZaNaV4"
        data-amount="{{ price }}"
        data-currency="INR"
        data-order_id="{{ order_id }}"
        data-buttontext="Pay with Razorpay"
        data-name="Acme Corp"
        data-description="Test transaction"
        data-image="https://example.com/your_logo.jpg"
        data-prefill.name="{{ name }}"
        data-prefill.email="{{ email }}"
        data-prefill.contact="{{ phone }}"
        data-theme.color="#F37254"
    >
    </script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>